* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #232106;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 40px;
}
.container {
    width: 90%;
    max-width: 800px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}